build --java_language_version=17
build --java_runtime_version=openjdk_17

build --nojava_header_compilation
build --javacopt="--enable-preview"

test --jvmopt="--enable-preview"
run --jvmopt="--enable-preview"

test --test_env=LC_ALL="en_US.UTF-8"

# because in some actions environment variable PATH is used to determine remote cache hits, PATH should be unified
build --action_env=PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin:/usr/local/opt/python/libexec/bin:/usr/local/opt/icu4c/bin:/usr/local/opt/icu4c/sbin
build --test_env=PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin:/usr/local/opt/python/libexec/bin:/usr/local/opt/icu4c/bin:/usr/local/opt/icu4c/sbin
test --action_env=PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin:/usr/local/opt/python/libexec/bin:/usr/local/opt/icu4c/bin:/usr/local/opt/icu4c/sbin
run --action_env=PATH=/usr/local/bin:/usr/bin:/usr/local/sbin:/usr/sbin:/bin:/sbin:/usr/local/opt/python/libexec/bin:/usr/local/opt/icu4c/bin:/usr/local/opt/icu4c/sbin
